.mo-table-wrap table.mo-table {
    min-width: 1300px;
}

.mo-table-wrap table.mo-table th:nth-child(1),
.mo-table-wrap table.mo-table td:nth-child(1) {
    min-width: 200px;
}

.mo-table-wrap table.mo-table th:nth-child(2),
.mo-table-wrap table.mo-table td:nth-child(2) {
    min-width: 320px;
}

.mo-table-wrap table.mo-table th:nth-child(3),
.mo-table-wrap table.mo-table td:nth-child(3) {
    min-width: 480px;
}
